body {
	background-color: #ffa494;
	color: #ff6929;
	font-family: "Righteous", cursive;
}

header {
	text-align: center;
}

nav {
	word-spacing: 2px;
	color: #ff6929;
}

ul {
	list-style-type: none;
	margin: 2px;
	padding: 0;
	overflow: hidden;
	background-color: #ffa494;
	width: 100%;
	border: 1px transparent;
	border-radius: 6px;
}

li {
	float: left;
}

li a {
	display: block;
	color: #ff6929;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #f19180;
}

main {
	margin-top: 80px;
  text-align: center;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 200px;
	margin-left: 600px;
}
