body {
	background-color: #f7cdc6;
	color: #ff6929;
	font-family: "Righteous", cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
  }
  
  header {
	text-align: center;
	width: 100%;
  }
  
  a {
	color: #ff6929;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  a:hover {
	background-color: #f19180;
  }
  
  main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	flex-grow: 1;
	position: relative;
  }
  
  #score-container {
	margin-top: 20px;
	text-align: center;
  }
  
  #message {
	margin: 20px 0;
	font-size: 1.5em;
	text-align: center;
  }
  
  .grid {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 400px;
	justify-content: center;
	position: relative;
  }
  
  #play-again {
	margin: 20px 0;
	padding: 10px 20px;
	font-size: 1em;
	background-color: #ff6929;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  #play-again:hover {
	background-color: #f19180;
  }