body {
	background-color: #ffa494;
	color: #ff6929;
	font-family: "Righteous", cursive;
}

header {
	text-align: center;
}

a {
	color: #ff6929;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a:hover {
	background-color: #f19180;
}

main {
	margin-top: 40px;
	text-align: center;
}

h2 {
	text-align: left;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 400px;
}
